.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}


.ant-table-row .ant-table-cell:nth-child(1),
.ant-table-row .ant-table-cell:nth-child(6),
.ant-table-row .ant-table-cell:nth-child(11) {
  background-color: rgb(218, 246, 250) !important;
}


.setting-container .ant-table-thead>tr>th,
.setting-container .ant-table-tbody>tr>td,
.setting-container .ant-table tfoot>tr>th,
.setting-container .ant-table tfoot>tr>td {
  padding: 5px 2px;
  text-align: center;
}